.Controls__row {
  position: relative;
  display: flex;
  align-items: center;
  padding: $gutter-width;
}

.Controls__row + .Controls__row {
  padding-top: 0;
  padding-bottom: calc($gutter-width / 2);
}

.Controls__input-group {
  display: flex;
}

.Controls__label {
  margin-left: calc($gutter-width / 2);
  font-weight: normal;
  cursor: pointer;
}

.Controls__error-message {
  color: red;
  padding: $gutter-width;
  padding-bottom: 0;
  font-size: $font-size-small;
}

