.Controls__row {
  position: relative;
  display: flex;
  align-items: center;
  padding: $gutter-width;
}

.Controls__row + .Controls__row {
  padding-top: 0;
  padding-bottom: $gutter-width / 2;
}

.Controls__label {
  font-weight: normal;
  cursor: pointer;
  width: 100%;
}

.Controls__error-message {
  color: red;
  padding: $gutter-width;
  padding-bottom: 0;
  font-size: $font-size-small;
}

