.Controls__row {
  position: relative;
  display: flex;
  padding: $gutter-width / 2;
}

.Controls__input {
  min-width: 30px;
  margin-left: auto;
}

.Controls__label {
  font-weight: normal;
  cursor: pointer;
  width: 100%;
}

.LoadingBar {
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: #01adee;
  width: 100%;
  transition: width 0.3s, opacity 0.3s;
}
