// Variables
$gutter-width: 10px;
$sidebar-border-color: #ccc;
$match-color: #3dcde6;
$match-color-hover: #3dcde624;
$match-gray: #a0a0a0;
$match-debug-color-dirty: #f7a85e66;
$match-debug-color-inflight: #31a72085;
$match-suggestion-background-color: #fff;
$match-suggestion-color: #999;
$match-suggestion-color-hover: #f1f1f1;
$match-suggestion-wiki-extract-height: 85px;

// Mixins
@mixin placeholderAnimation {
  overflow: hidden;
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    animation: placeholderAnimation 0.8s linear infinite;
    background: linear-gradient(
        to right,
        rgba(#fff, 0) 46%,
        rgba(#fff, 0.35) 50%,
        rgba(#fff, 0) 54%
      )
      50% 50%;
  }
}

// Imports
@import "./Controls.scss";
@import "./Sidebar.scss";
@import "./SidebarMatch.scss";
@import "./Suggestion.scss";
@import "./SuggestionList.scss";

// Elements

hr {
  height: 1px;
  border: initial;
  border-bottom: 1px solid $sidebar-border-color;
  width: 100%;
  margin: 5px 0;
}

// Helpers

.flex-align-right {
  margin-left: auto;
}

.pull-right {
  float: right;
}

.Button {
  padding: 1px 4px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 1em;
  cursor: pointer;
}

.Button:hover {
  background-color: #eee;
}

.Input[type="checkbox"] {
  margin-left: $gutter-width;
}

.Button:active,
.Button:focus {
  outline: none;
}

.MatchWidget {
  display: block;
  position: relative;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  background-color: white;
  box-shadow: #4e56643b 0px 0px 1px 0px, #3f48573a 0px 2px 7px 0px;
  border-radius: 3px;
  width: 300px;
  transition: opacity 0.1s, transform 0.1s;
  transform: translate3d(0, -3px, 0);
  z-index: 100;
  overflow: hidden;
}

.MatchWidget__container {
  margin-top: 8px;
  position: relative;
}

.MatchWidget__container--is-hovering .MatchWidget {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.MatchWidget__type {
  color: $match-gray;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.3px;
}

.MatchWidget__annotation,
.MatchWidget__suggestion,
.MatchWidget__type {
  padding: $gutter-width;
}

.MatchWidget__annotation {
  padding-top: 0;
}

.MatchWidget__label {
  display: block;
  margin-bottom: 2px;
  transition: background-color 0.1s;
}

.MatchWidget__suggestion-list {
  display: block;
  margin-top: 3px;
  padding: 0 $gutter-width $gutter-width $gutter-width;
}

.MatchWidget__suggestion {
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: $match-suggestion-color;
}

.MatchWidget__suggestion:nth-child(even) {
  background-color: darken($match-suggestion-background-color, 2%);
}

.MatchWidget__suggestion:hover {
  background-color: $match-suggestion-color-hover;
}
.MatchWidget__suggestion + .MatchWidget__suggestion {
  margin-top: 3px;
}

.MatchDecoration {
  border-bottom: 2px solid $match-color;
}

.MatchDecoration__height-marker {
  &:before {
    // We insert a unicode zero width space character here to ensure the
    // height marker has content. As a result, it grows to match the line-height.
    // See https://stackoverflow.com/questions/14217902/how-to-set-empty-span-height-equal-to-default-line-height
    content: "\200b";
  }
}

.MatchDecoration--is-correct {
  position: relative;
  &:after {
    display: block;
    content: "✓";
    position: absolute;
    right: -10px;
    top: -8px;
    color: rgb(4, 213, 20);
    font-weight: bold;
    pointer-events: none;
  }
}

.MatchDebugDirty {
  background-color: $match-debug-color-dirty;
}

.MatchDebugInflight {
  background-color: $match-debug-color-inflight;
}

.TyperighterPlugin__overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.TyperighterPlugin__decoration-container {
  position: absolute;
}

.TyperighterPlugin__container {
  position: relative;
}
