.MatchDecoration {
  border-bottom: 2px solid $match-color;
}

.MatchDecoration__height-marker {
  &:before {
    // We insert a unicode zero width space character here to ensure the
    // height marker has content. As a result, it grows to match the line-height.
    // See https://stackoverflow.com/questions/14217902/how-to-set-empty-span-height-equal-to-default-line-height
    content: "\200b";
  }
}

.MatchDecoration--is-correct {
  position: relative;
  &:after {
    display: block;
    content: "✓";
    position: absolute;
    right: -10px;
    top: -8px;
    color: rgb(4, 213, 20);
    font-weight: bold;
    pointer-events: none;
  }
}
