.SidebarMatch__container {
  position: relative;
  padding: $gutter-width;
  &:hover {
    background-color: #f6f6f6;
  }
}

.SidebarMatch__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.SidebarMatch__header-label {
  display: flex;
  width: 100%;
}

.SidebarMatch__header-match-text {
  margin-bottom: calc($gutter-width / 2);
  cursor: pointer;
}

.SidebarMatch__header-description {
  font-size: $font-size-small;
  color: $text-color-secondary;
}

.SidebarMatch__header-group {
  margin-left: auto;
  display: flex;
}

.SidebarMatch__header-range,
.SidebarMatch__header-category {
  text-align: right;
  font-size: $font-size-small;
}

.SidebarMatch__header-category {
  margin-top: 2px;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.3px;
  color: $match-gray;
}

.SidebarMatch__header-range {
  color: grey;
  white-space: nowrap;
}

.SidebarMatch__header-toggle-status {
  min-width: 20px;
  color: grey;
  text-align: right;
}

.SidebarMatch__suggestion-list {
  margin-top: calc($gutter-width / 2);
}

.SidebarMatch__list-title {
  font-style: italic;
  margin-bottom: calc($gutter-width / 2);
}

.SidebarMatch__subset-list {
  border-left: 10px solid $sidebar-border-color;
  margin: 0;
}

.SidebarMatch__subset-list:first-child {
  border-top: 1px solid $sidebar-border-color;
}

.SidebarMatch__group-container {
  margin: 0;
}
