.SidebarMatch__container {
  padding: $gutter-width;
  &:hover {
    background-color: #f6f6f6;
  }
}

.SidebarMatch__list-item:last-child {
  border-bottom: none;
}

.SidebarMatch__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.SidebarMatch__header-label {
  display: flex;
  width: 100%;
}

.SidebarMatch__header-match-text {
  margin-bottom: $gutter-width / 2;
  cursor: pointer;
}

.SidebarMatch__header-description {
  font-size: $font-size-small;
  color: $text-color-secondary
}

.SidebarMatch__header-group {
  margin-left: auto;
  display: flex;
}

.SidebarMatch__header-range,
.SidebarMatch__header-category {
  text-align: right;
  font-size: $font-size-small;
}

.SidebarMatch__header-category {
  margin-top: 2px;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.3px;
  color: $match-gray;
}

.SidebarMatch__header-range {
  color: grey;
  white-space: nowrap;
}

.SidebarMatch__header-toggle-status {
  min-width: 20px;
  color: grey;
  text-align: right;
}

.SidebarMatch__content {
  margin-top: ($gutter-width / 2) ;
  font-size: $font-size-small;
}

.SidebarMatch__suggestion-list {
  margin-top: ($gutter-width / 2) ;
}

.SidebarMatch__list-title {
  font-style: italic;
  margin-bottom: ($gutter-width / 2) ;
}

.SidebarMatch__subset-list {
  margin-left: 10px;
}
