.Sidebar__container {
  font-size: $font-size-small;
}

.Sidebar__content {
  overflow-y: scroll;
}

.Sidebar__section {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  border: 1px solid $sidebar-border-color;
  margin: 0 $gutter-width / 2;
  max-height: 100%;
  overflow: hidden;
  font-size: $font-size-base;
}

.Sidebar__container + .Sidebar__container {
  margin-top: $gutter-width;
}

.Sidebar__header-container {
  position: relative;
  padding: $gutter-width;
  border-bottom: 1px solid $sidebar-border-color;
}

.Sidebar__header-contact {
  margin-top: 5px;
  font-size: $font-size-x-small;
}

.Sidebar__header {
  display: flex;
  align-items: baseline;
  position: relative;
  flex-shrink: 0;
  font-weight: bold;
}

.Sidebar__header-toggle {
  margin-top: $gutter-width;
  cursor: pointer;
}

.Sidebar__header-option {
  font-weight: regular;
  font-size: $font-size-small;
}

.Sidebar__toggle,
.Sidebar__toggle-label {
  align-self: baseline;
  font-size: $font-size-small;
  font-weight: normal;
}

.Sidebar__toggle {
  display: inline-block;
  transition: transform 0.15s;
  color: #aaa;
}

.Sidebar__toggle-label {
  color: #888;
  margin-left: auto;
  padding-right: 5px;
}

.Sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Sidebar__awaiting-match {
  padding: $gutter-width ;
  color: gray;
}

.Sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Sidebar__list-item + .Sidebar__list-item {
  border-top: 1px solid $sidebar-border-color;
}

.Sidebar__loading-spinner {
  display: inline-block;
  margin-top: 1px;
  margin-left: $gutter-width/2;
  line-height: 1;
  animation-duration: 0.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
