.Sidebar__container {
  font-size: $font-size-small;
}

.Sidebar__content {
  overflow-y: scroll;
}

.Sidebar__section {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  border: 1px solid $sidebar-border-color;
  margin: 0 $gutter-width / 2;
  max-height: 100%;
  overflow: hidden;
  font-size: $font-size-base;
}

.Sidebar__section--is-closed {
  background: none;
  border: 0;
}

.Sidebar__container + .Sidebar__container {
  margin-top: $gutter-width;
}

.Sidebar__header-container {
  position: relative;
  padding: $gutter-width;
  border-bottom: 1px solid $sidebar-border-color;
}

.Sidebar__header-container--is-closed {
  border: 0;
  display: flex;
  justify-content: flex-end;
}

.Sidebar__header-contact {
  margin-top: 5px;
  font-size: $font-size-small;
}

.Sidebar__header {
  display: flex;
  align-items: center;
  position: relative;
  flex-shrink: 0.2;
  font-weight: bold;
  justify-content: space-between;
}

.Sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Sidebar__awaiting-match {
  padding: $gutter-width ;
  color: gray;
}

.Sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Sidebar__list-item + .Sidebar__list-item {
  border-top: 1px solid $sidebar-border-color;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
