.WikiSuggestion__container {
  display: flex;
  & + .WikiSuggestion__container {
    margin-top: 1em;
  }
}

.WikiSuggestion__text {
  flex: 1;
  padding-right: 5px;
}

.WikiSuggestion__suggestion {
  padding: $gutter-width $gutter-width $gutter-width 0;
  font-weight: bold;
  font-size: $font-size-large;
  color: $match-suggestion-color;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    color: lighten($match-suggestion-color, 15%);
  }
}

.WikiSuggestion__thumbnail {
  position: relative;
  height: 123px;
  width: 95px;
  background-size: cover;
  background-color: $match-suggestion-color-hover;
  &.WikiSuggestion__thumbnail--placeholder {
    @include placeholderAnimation();
  }
}

.WikiSuggestion__extract {
  position: relative;
  height: $match-suggestion-wiki-extract-height;
  overflow: hidden;
  font-size: $font-size-x-small;
}

.WikiSuggestion__link {
  position: absolute;
  bottom: -1px;
  right: 0;
  height: 13px;
  width: 13px;
  display: block;
  background-position: center right;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent, transparent),
    url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E %3Cpath fill=%22%23fff%22 stroke=%22%2336c%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E %3Cpath fill=%22%2336c%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E %3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E %3C/svg%3E");
}

.WikiSuggestion__extract--placeholder {
  background: repeating-linear-gradient(
    180deg,
    $match-suggestion-color-hover,
    $match-suggestion-color-hover 11px,
    #fff 11px,
    #fff 18px
  );
  position: relative;
  height: $match-suggestion-wiki-extract-height;

  @include placeholderAnimation();
}

@keyframes placeholderAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}
