.ValidationSidebarOutput__container {
  padding: ($gutter-width / 2) ;
}

.ValidationSidebarOutput__list-item:last-child {
  border-bottom: none;
}

.ValidationSidebarOutput__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.ValidationSidebarOutput__header-label {
  display: flex;
  width: 100%;
}

.ValidationSidebarOutput__header-meta {
  margin-left: auto;
}

.ValidationSidebarOutput__header-range,
.ValidationSidebarOutput__header-category {
  text-align: right;
  font-size: 12px;
}

.ValidationSidebarOutput__header-category {
  margin-top: 2px;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.3px;
}

.ValidationSidebarOutput__header-range {
  color: grey;
  white-space: nowrap;
}

.ValidationSidebarOutput__header-toggle-status {
  min-width: 20px;
  color: grey;
  text-align: right;
}

.ValidationSidebarOutput__content {
  margin-top: ($gutter-width / 2) ;
  font-size: 14px;
}

.ValidationSidebarOutput__suggestion-list {
  margin-top: ($gutter-width / 2) ;
}

.ValidationSidebarOutput__list-title {
  font-style: italic;
  margin-bottom: ($gutter-width / 2) ;
}
