:root {
  --validation-color: #3dcde6;
  --validation-color-hover: #3dcde624;
  --validation-gray: #a0a0a0;
  --validation-debug-color-dirty: #f7a85e66;
  --validation-debug-color-inflight: #f7a85ea1;
  --validation-suggestion-color: #999;
  --validation-suggestion-color-hover: #f1f1f1; }

.Button {
  padding: 1px 4px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.Button:hover {
  background-color: #eee;
}

.Input[type=checkbox] {
  margin-left: calc(var(--gutter-width));
}

.Button:active, .Button:focus {
  outline: none;
}

.ValidationWidget {
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  background-color: white;
  box-shadow: #4e56643b 0px 0px 1px 0px,
    #3f48573a 0px 2px 7px 0px;
  border-radius: 3px;
  width: 200px;
  transition: opacity 0.1s, transform 0.1s;
  transform: translate3d(0, -3px, 0);
  z-index: 1;
  overflow: hidden;
}

.ValidationWidget__container {
  position: relative;
}

.ValidationWidget__container--is-hovering .ValidationWidget {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.ValidationWidget__type {
  color: var(--validation-gray);
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.3px;
}

.ValidationWidget__annotation,
.ValidationWidget__suggestion,
.ValidationWidget__type {
  padding: var(--gutter-width);
}

.ValidationWidget__annotation {
  padding-top: 0;
}

.ValidationWidget__label {
  display: block;
  margin-bottom: 2px;
  transition: background-color 0.1s;
}

.ValidationWidget__suggestion-list {
  display: block;
  margin-top: 3px;
}

.ValidationWidget__suggestion {
  display: block;
  padding: var(--gutter-width);
  cursor: pointer;
  color: var(--validation-color);
  font-weight: 700;
  font-size: 16px;
  color: var(--validation-suggestion-color);
}

.ValidationWidget__suggestion:hover {
  background-color: var(--validation-suggestion-color-hover);
}
.ValidationWidget__suggestion + .ValidationWidget__suggestion {
  margin-top: 3px;
}

.ValidationDecoration,
.ValidationDecoration__height-marker {
  border-bottom: 2px solid var(--validation-color);
}

.ValidationDecoration--is-hovering {
  background-color: var(--validation-color-hover);
}

.ValidationDebugDirty {
  background-color: var(--validation-debug-color-dirty);
}

.ValidationDebugInflight {
  background-color: var(--validation-debug-color-inflight);
}

.ValidationPlugin__overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.ValidationPlugin__decoration-container {
  position: absolute;
}

.ValidationPlugin__container {
  position: relative;
}
