.Sidebar__container {
  font-size: 16px;
}

.Sidebar__content {
  overflow-y: scroll;
}

.Sidebar__section {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 $gutter-width / 2;
  max-height: 100%;
}

.Sidebar__container + .Sidebar__container {
  margin-top: $gutter-width;
}

.Sidebar__header {
  display: flex;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: $gutter-width $gutter-width/2;
  font-weight: 500;
  justify-content: space-between;
}

.Sidebar__header-toggle {
  cursor: pointer;
}

.Sidebar__header-option {
  font-weight: 400;
  font-size: 14px;
}

.Sidebar__awaiting-validation {
  padding: $gutter-width/2;
  color: #aaa;
}

.Sidebar__toggle, .Sidebar__toggle-label {
  align-self: baseline;
  font-size: 0.8em;
}

.Sidebar__toggle {
  transition: transform 0.15s;
  color: #aaa;
}

.Sidebar__toggle-label {
  color: #888;
  margin-left: auto;
  padding-right: 5px;
}

.Sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Sidebar__awaiting-validation {
  padding: $gutter-width/2;
  color: gray;
}

.Sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Sidebar__list-item + .Sidebar__list-item {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.Sidebar__loading-spinner {
  display: inline-block;
  margin-top: 1px;
  margin-left: $gutter-width/2;
  line-height: 1;
  animation-duration: 0.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
