.ValidationSidebarOutput__container {
  padding: calc(var(--gutter-width) / 2);
}

.ValidationSidebarOutput__container--is-selected {
  border-left: 2px solid var(--validation-color);
}

.ValidationSidebar__awaiting-validation {
  padding: calc(var(--gutter-width) / 2);
  color: gray;
}

.ValidationSidebar__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: calc(var(--gutter-width)) calc(var(--gutter-width) / 2);
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.ValidationSidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ValidationSidebar__list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.ValidationSidebarOutput__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.ValidationSidebarOutput__header-range {
  margin-left: calc(var(--gutter-width) / 2);
  font-size: 12px;
  color: grey;
}

.ValidationSidebarOutput__header-toggle-status {
  min-width: 20px;
  color: grey;
  text-align: right;
}

.ValidationSidebarOutput__content {
  margin-top: calc(var(--gutter-width) / 2);
  font-size: 14px;
}

.ValidationSidebarOutput__suggestion-list {
  margin-top: calc(var(--gutter-width) / 2);
}

.ValidationSidebarOutput__suggestion-list-title {
  font-style: italic;
  margin-bottom: calc(var(--gutter-width) / 2);
}

.ValidationSidebar__loading-spinner {
  margin-top: 1px;
  margin-right: calc(var(--gutter-width) / 2);
  line-height: 1;
  animation-duration: 0.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
